body {
  box-sizing: border-box;
}

header {
  text-align: center;
}

nav {
  background-color: lightgreen;
  padding: 0px 20px;
  text-align: right;
}

nav ul {
  background-color: orange;
  text-align: right;
  display: inline-block;
  list-style-type: none;
}

nav ul li {
  background-color: yellow;
  display: inline-block;
}

a {
  background-color: violet;
  text-decoration-line: none;
}

div {
  text-align: center;
}

h2 {
  display: inline-block;
}

form {
  text-align: center;
}

.msgSystem {
  display: none;
}
